<!DOCTYPE html>
<html>
<head>
    <!-- Títol pàg -->
    <title>Crear Producto</title>
    <!-- Estils CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style/style_create.css">
</head>
<body>
    <!-- Contenidor principal de la pàgina -->
    <div class="container">
        <!-- Títol de la secció -->
        <h1>Crear Nuevo Producto</h1>

        <!-- Formulari per crear un nou producte -->
        <form action="/products/create/" method="post" enctype="multipart/form-data">
            <!-- Títol del producte -->
            <label for="title">Título:</label>
            <input type="text" id="title" name="title" required><br><br>

            <!-- Descripció del producte -->
            <label for="description">Descripción:</label>
            <textarea id="description" name="description" required></textarea><br><br>

            <!-- Preu del producte -->
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price" step="0.01" required><br><br>

            <!-- Selector de categoria del producte -->
            <label for="category">Categoría:</label>
            <select id="category" name="category" required>
                <!-- Iterem a través de totes les categories disponibles -->
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
            </select><br><br>


            <!-- Imatge del producte -->
            <label for="image">Imagen:</label>
            <input type="file" id="image" name="image" accept="image/*" required><br><br>

            <!-- Botó per enviar el formulari -->
            <input type="submit" value="Crear Producto">
            <!-- Enllaç per tornar a la llista de productes -->
            <a href="/products/list/" class="btn-back">Volver a Lista</a>
        </form>

        <!-- Mostrar missatges si n'hi ha -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body>
</html>


