<!DOCTYPE html>
<html>

<head>
    <!-- Título de la página -->
    <title>Productos</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" type="text/css" href="/static/style/style_list.css">
</head>

<body>
    <!-- Contenedor principal del listado de productos -->
    <div class="container">
        <h1>Lista de Productos</h1>

        <!-- Menú para filtrar los productos por categoría -->
        <div class="filter-menu">
            <form action="/products/list/" method="GET">
                <!-- Selector de categorías -->
                <select name="category">
                    <option value="">Todos</option>
                    <!-- Itera a través de todas las categorías disponibles -->
                    {% for category in categories %}
                    <option value="{{ category.slug }}" {% if category.slug == request.args.get('category') %} selected {% endif %}>{{ category.name }}</option>
                    {% endfor %}
                </select>
                <!-- Botón para aplicar el filtro de categoría -->
                <input type="submit" value="Filtrar">
            </form>
        </div>

        <!-- Mostrar los mensajes si los hay -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Tabla que muestra el listado de productos -->
        <table>
            <thead>
                <!-- Cabeceras de la tabla -->
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Itera a través de todos los productos y muéstralos en la tabla -->
                {% for product in productos %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <!-- Mostrar la imagen del producto si está disponible -->
                    {% if product.photo %}
                    <td><img src="{{ url_for('static', filename='images/' + product.photo) }}" alt="Imagen de {{ product.title }}" width="100"></td>
                    {% else %}
                    <td>No hay imagen</td>
                    {% endif %}
                    <td>{{ product.price }}</td>
                    <!-- Enlaces para actualizar o eliminar el producto -->
                    <td>
                        <a href="{{ url_for('routes_main.update_product', product_id=product.id) }}">Actualizar</a> |
                        <a href="{{ url_for('routes_main.delete_product', product_id=product.id) }}" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Enlace para crear un nuevo producto -->
        <a href="/products/create/" class="btn-create">Crear</a>
    </div>
</body>

</html>
