<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="/static/style/style_create.css">
<head>
    <title>Actualizar Producto</title>
</head>
<body>
<div class="container">
    <h1>Actualizar Producto</h1>

    <form action="{{ url_for('update_product', product_id=product[0]) }}" method="post" enctype="multipart/form-data">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" value="{{ product[1] }}" required><br><br>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required>{{ product[2] }}</textarea><br><br>

        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" step="0.01" value="{{ product[4] }}" required><br><br>

        <label for="category">Categoría:</label>
        <select id="category" name="category" required>
            {% for category in categories %}
                <option value="{{ category[0] }}" {% if category[0] == product[5] %} selected {% endif %}>{{ category[1] }}</option>
            {% endfor %}
        </select><br><br>

        <label for="image">Imagen (mantén vacío para no cambiar):</label>
        <input type="file" id="image" name="image" accept="image/*"><br><br>

        <input type="submit" value="Guardar Cambios">
        <a href="/products/list/" class="btn-back">Volver a Lista</a>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
</div>
</body>
</html>
