<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style_list.css">
</head>

<body>
    <div class="container">
        <h1>Lista de Productos</h1>

        <!-- Menú para filtrar los productos por categoría -->
        <div class="filter-menu">
            <!-- Asegúrate de que el formulario envíe la categoría seleccionada como parte de la solicitud GET -->
            <form action="{{ url_for('routes_main.mostrar_productos') }}" method="GET">
                {{ form.hidden_tag() }}
                <label for="category">Filtrar por categoría:</label>
                <!-- Utiliza el campo 'category' como un menú desplegable -->
                <select class="form-control" id="category" name="category">
                    <option value="TODOS">TODOS</option>
                    <option value="electronica">Electrònica</option>
                    <option value="roba">Roba</option>
                    <option value="joguines">Joguines</option>
                </select>
                <input type="submit" value="Filtrar" class="btn btn-primary">
            </form>
        </div>

        <!-- Mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <!-- Tabla de productos -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for product in productos %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    {% if product.photo %}
                    <td><img src="{{ url_for('static', filename='images/' + product.photo) }}" alt="Imagen de {{ product.title }}" width="100"></td>
                    {% else %}
                    <td>No hay imagen</td>
                    {% endif %}
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ url_for('routes_main.update_product', product_id=product.id) }}" class="btn btn-primary">Actualizar</a>
                        <a href="{{ url_for('routes_main.delete_product', product_id=product.id) }}" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas eliminar este producto?');">Eliminar</a>
                        <a href="{{ url_for('routes_main.read_product', product_id=product.id) }}" class="btn btn-info">Detalles</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ url_for('routes_main.create_product') }}" class="btn btn-success">Crear Nuevo Producto</a>
    </div>
</body>

</html>
