<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar Producto</title>
    <link rel="stylesheet" type="text/css" href="/static/style/style_update.css">
</head>

<body>
    <div class="container">
        <h1>Actualizar Producto</h1>

        <!-- Formulario para actualizar la información del producto -->
        <form action="{{ url_for('routes_main.update_product', product_id=product.id) }}" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset>
                <legend>Información del producto</legend>

                <div class="form-group">
                    {{ form.title.label(class="form-label") }}
                    {{ form.title(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.description.label(class="form-label") }}
                    {{ form.description(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.price.label(class="form-label") }}
                    {{ form.price(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.category.label(class="form-label") }}
                    {{ form.category(class="form-control") }}
                </div>

                <div class="form-group">
                    {{ form.image.label(class="form-label") }}
                    {{ form.image(class="form-control") }}
                </div>

                {% if product.photo %}
                <img src="/static/images/{{ product.photo }}" alt="Imagen del producto" width="100">
                {% endif %}
                
                <input type="submit" value="Guardar Cambios" class="btn btn-primary">
                <a href="{{ url_for('routes_main.mostrar_productos') }}" class="btn btn-secondary">Volver a la Lista</a>
            </fieldset>
        </form>

        <!-- Mensajes flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
</body>

</html>


