body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

button, a {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #FFFFFF;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover, a:hover {
    background-color: #0056b3;
}

/* Estilo para el menú de navegación */
.nav-menu {
    margin-bottom: 20px;
}

.nav-menu a {
    margin-right: 10px;
}

/* Estilo para la sección de detalles del producto */
.product-details {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 20px;
}

.product-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo para el botón de volver */
.back-button {
    display: inline-block;
    margin-top: 20px;
}
